@charset "utf-8";
#userName{
    display: none;
}
#logout{
    display: none;
}
#denglu{
    /* display: none; */
}
#zuce{
    /* display: none; */
}
.shop_bd {
    width: 1000px;
    margin: 10px auto 0;
}
.shop_bd_list_left {
    width: 210px;
    float: left;
}
.shop_bd_list_bk {
    width: 195px;
    border: 1px solid #D8D8D8;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.shop_bd_list_bk div.title {
    width: 190px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
    color: #3E3E3E;
    line-height: 33px;
    height: 33px;
    border-bottom: 1px solid #E7E7E7;
}
.shop_bd_list_bk div.contents {
    width: 175px;
    padding: 10px 10px 10px;
}
.shop_bd_list_bk div.contents dl.shop_bd_list_type_links {
    width: 175px;
}
.shop_bd_list_bk div.contents dl.shop_bd_list_type_links dt {
    line-height: 15px;
    height: 15px;
    padding-bottom: 8px;
}
.shop_bd_list_bk div.contents dl.shop_bd_list_type_links dt strong {
    font-weight: bold;
    font-size: 14px;
    color: #666666;
}
.shop_bd_list_right {
    width: 778px;
}

.module_filter {
    border: 1px solid #FFCC44;
    width: 1000px;
    padding: 20px 0;
}

.module_filter_line dl {
    width: 700px;
    height: 25px;
    margin: 0 auto;
    padding: 5px 28px;
    border-bottom: 1px solid #EEEEEE;
}

.module_filter_line dl dt {
    float: left;
    height: 25px;
    line-height: 25px;
}

.module_filter_line dl dd {
    float: left;
    height: 25px;
    line-height: 25px;
}

.module_filter_line dl dd a {
    margin: 0 15px;
    color: #0063DC;
}

.sort-bar {
    width: 780px;
    height: 38px;
    margin: 10px auto 0;
    border: 1px solid #D8D8D8;
    background-color: #F7F7F7;
}

.sort-bar .bar-l {
    width: 500px;
    float: left;
}

.sort-bar .bar-l .switch {
    float: left;
    border-radius: 1px dotted #D8D8D8;
    margin: 4px 0;
    padding: 4px 10px 4px 8px;
    width: 95px;
    height: 20px;
    line-height: 20px;
}

.sort-bar .bar-l .switch span {
    display: inline-block;
    width: 30px;
    height: 20px;
    background: #F7F7F7 url('../images/nc_sortbar.gif') no-repeat 4px -14px;
    padding-left: 15px;
    border: 1px solid #D0D0D0;
}

.sort-bar .bar-l .switch span a {
    color: #777777;
}

.sort-bar .bar-l .switch span.selected {
    background: #FFF url('../images/nc_sortbar.gif') no-repeat 4px -34px;
}

.sort-bar .bar-l ul.array {
    width: 250px;
    float: left;
    height: 38px;
    line-height: 38px;
}

.sort-bar .bar-l ul.array li {
    float: left;
    height: 38px;
    line-height: 38px;
    margin: 0 10px;
}

.sort-bar .bar-l ul.array li a {
    color: #555555;
}

.sort-bar .bar-l ul.array li.selected a {
    color: #FF6600;
    font-weight: bold;
}

.sort-bar .bar-l div.prices {
    float: left;
    height: 20px;
    padding-top: 8px;
    color: #777777;
}

.shop_bd_list_content {
    width: 1100px;
    margin: 0 auto;
}

.shop_bd_list_content ul li {
    width: 250px;
    float: left;
    margin: 10px 0;
}

.shop_bd_list_content ul li dl {
    width: 175px;
    margin: 0 auto;
    padding: 10px 0;
}

.shop_bd_list_content ul li dl dt img {
    display: block;
    width: 160px;
    height: 160px;
    padding: 4px;
    border: 1px solid #E7E7E7;
}
.shop_bd_list_content ul li dl dd.title {
    line-height: 18px;
    padding: 10px 0;
}
.shop_bd_list_content ul li dl dd.title a {
    text-decoration: none;
    color: grey;
}
.shop_bd_list_content ul li dl dd.content {
    height: 25px;
    line-height: 25px;
}
.shop_bd_list_content ul li dl dd.content span.goods_jiage {
    float: left;
}
.shop_bd_list_content ul li dl dd.content span.goods_jiage strong {
    font-size: 15px;
    color: #FF3300;
    font-weight: bold;
}
.shop_bd_list_content ul li dl dd.content span.goods_chengjiao {
    float: right;
}
.shop_ul_list{
    overflow: hidden;
}
.shop_ul_list li{
    width: 220px;
    height: 320px;
    border-radius: 30px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    background-color: snow;
}
.shop_ul_list li:hover{
    border: solid 1px salmon;
}
.shop_ul_list li .title{
    width: 180px;
    height: 65px;
}
.shop_ul_list li em {
    width: 80px;
    height: 20px;
    line-height: 20px;
    font-style: normal;
    background: salmon;
    cursor: pointer;
}

.shop_ul_list li em:active {
    background: #33f;
    color: #fff;
}